<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Essay{% endblock %}</title>

    <script src="https://unpkg.com/jspsych@7.3.4"></script>
    <link href="https://unpkg.com/jspsych@7.3.4/css/jspsych.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@jspsych/plugin-html-audio-response@1.0.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-initialize-microphone@1.0.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-html-button-response@1.2.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-instructions@2.1.0"></script>

</head>

<body>
    <div id="header">
        {% block header %}
        <h1 id='title'>
            [PROJECT NAME]
        </h1>
        <h2 id='subtitle'>
            [SUBTITLE AND/OR SHORT DESCRIPTION]
        </h2>
        {% endblock %}
    </div>
    <div id="jspsych-target"></div> 
</body>

<script>
    const jsPsych = initJsPsych({
        display_element: 'jspsych-target'
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    var essayTimerInterval = null;

    function startTimer(length) {
        if (essayTimerInterval) clearInterval(essayTimerInterval);
        
        var wait_time = length * 60 * 1000;
        var start_time = performance.now();
        
        setTimeout(() => {
            var btn = document.querySelector('#finish-trial');
            if (btn) btn.disabled = true;
        }, 100);
        
        essayTimerInterval = setInterval(function(){
            var time_left = wait_time - (performance.now() - start_time);
            var minutes = Math.floor(time_left / 1000 / 60);
            var seconds = Math.floor((time_left - minutes*1000*60)/1000);
            
            var clock = document.querySelector('#clock');
            if (clock) clock.innerHTML = minutes + ':' + seconds.toString().padStart(2,'0');
            
            if(time_left <= 0){
                if (clock) clock.innerHTML = "0:00";
                var btn = document.querySelector('#finish-trial');
                if (btn) btn.disabled = false;
                clearInterval(essayTimerInterval);
            }
        }, 250);
    }

    var init_mic = {
        type: jsPsychInitializeMicrophone,
    };

    var mic_test = {
        type: jsPsychHtmlButtonResponse,
        stimulus: `
            <h3>Microphone Testing Instructions</h3>
            <p>Before beginning the first trial, we ask all participants to complete a brief microphone self test. A ten second snippet of audio will be recorded and you will have the ability to play it back once time is up. If the audio quality is satisfactory, feel free to begin the trials. If not, we recommend switching devices or attaching an external microphone to improve sound quality. This is an self-diagnosed test, and these ten seconds of audio will not be saved.</p>
            <p>Clicking 'Begin.' will start the recording immediately. Please start the trial whenever you're ready. </p>
        `,
        choices: ['Begin.']  
    }

    var mic_test_trial = {
        type: jsPsychHtmlAudioResponse,
        stimulus: `
            <h3>Microphone Testing Instructions</h3>
            <p>Before beginning the first trial, we ask all participants to complete a brief microphone self test. A ten second snippet of audio will be recorded and you will have the ability to play it back once time is up. If the audio quality is satisfactory, feel free to begin the trials. If not, we recommend switching devices, attaching an external microphone, or moving to a quieter environment to improve sound quality. This is an self-diagnosed test, and these ten seconds of audio will not be saved.</p>
            <h3>Recording in Progress</h3>
            <p>Time until end of recording: <span id = "clock">0:10</span></p>
            `,
        recording_duration: 10 * 1000,
        allow_playback: true,
        choices: ['Finish.'],
        on_load: function() {
            startTimer(1/6);
            
            document.addEventListener('click', function(e) {
                if (e.target.id == 'record-again') {
                    startTimer(1/6);
                }
            });
        },
    }

    // TODO
    var instruction_essay = {
        type: jsPsychHtmlButtonResponse,
        stimulus: `
            <h3> PART 1: ESSAY QUESTION </h3>
            <p>The first trial involves a six minute response to an essay question. You will be asked to talk and reflect about your life. Please note that you will be unable to end the recording until the six minutes are up. After that, you will have an additional minute to wrap up your thoughts. We encourage you to try to speak for the entire duration, but feel free to take a pause to gather your thoughts. Brief periods with no sound are okay. </p>
            <h3> PROMPT </h3>
            <p>[PROMPT]</p>
            <p>Clicking 'Begin.' will start the recording immediately. Please start the trial whenever you're ready. </p>
        `,
        choices: ['Begin.']
    }

    var trial_essay = {
        type: jsPsychHtmlAudioResponse,
        stimulus: `
            <h2> PART 1: ESSAY QUESTION</h2>
            <h3> INSTRUCTIONS</h3>
            <p>The first trial involves a six minute response to an essay question. You will be asked to talk and reflect about your life. Please note that you will be unable to end the recording until the six minutes are up. After that, you will have an additional minute to wrap up your thoughts. We encourage you to try to speak for the entire duration, but feel free to take a pause to gather your thoughts. Brief periods with no sound are okay. Like the micphone test trial, you will have the option to rerecord at the end.</p>
            <h3> PROMPT </h3>
            <p>[PROMPT]</p>
            <h3>Recoring in Progress</h3>
            <p>Clicking 'Begin.' will start the recording immediately. Please start the trial whenever you're ready. </p>
            <p>Time until end of recording: <span id = "clock">6:00</span></p>
            `,
        recording_duration: 7 * 60 * 1000,
        allow_playback: true,
        choices: ['Finish.'],
        on_load: function() {
            startTimer(6);
            
            document.addEventListener('click', function(e) {
                if (e.target.id == 'record-again') {
                    startTimer(6);
                }
            });
        },
        on_finish: function(data) {
            if (essayTimerInterval) {
                clearInterval(essayTimerInterval);
            }
            
            fetch('/save_audio_essay/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    audio_base64: data.response,
                    essay_id: 1 // PLACEHOLDER
                })
            })
        }
    };

    // TODO
    var instruction_aita = {
        type: jsPsychHtmlButtonResponse,
        stimulus: `
            <h2> PART 2: AITA Annotation </h2>
            <h3> INSTRUCTIONS </h3>
            <p> You will be provided a post from the Reddit forum r/AmITheAsshole, where each poster describes a situation or interpersonal conflict that they were involved in and ask if they did something wrong or not, ie. AITA; "am I the asshole"? For each situation, answer the question "Is the author the asshole in this situation?", with yes, no, or unsure. Please try to use unsure sparingly, only when it's difficult to make a judgement in either direction. </p>
            <p> The recording will be one minute long. For the rest of the time, explain how you arrived at that conclusion. You will have an additional thirty seconds after the one minute to wrap up your thoughts. </p> 
            <h3> PROMPT </h3>
            <p>[PROMPT]</p>
            <p>Clicking 'Begin.' will start the recording immediately. Please start the trial whenever you're ready. </p>
        `,
        choices: ['Begin.']
    }

    var trial_aita= {
        type: jsPsychHtmlAudioResponse,
        stimulus: `
            <h2> PART 2: AITA Annotation </h2>
            <h3> INSTRUCTIONS </h3>
            <p> You will be provided a post from the Reddit forum r/AmITheAsshole, where each poster describes a situation or interpersonal conflict that they were involved in and ask if they did something wrong or not, ie. AITA; "am I the asshole"? For each situation, answer the question "Is the author the asshole in this situation?", with yes, no, or unsure. Please try to use unsure sparingly, only when it's difficult to make a judgement in either direction. </p>
            <p> The recording will be one minute long. For the rest of the time, explain how you arrived at that conclusion. You will have an additional thirty seconds after the one minute to wrap up your thoughts. </p> 
            <h3> PROMPT </h3>
            <p>[PROMPT]</p>
            <h3> Recording in Progress </h3>
            <p>Time until end of recording: <span id = "clock">1:00</span></p>
            `,
        recording_duration: 1.5 * 60 * 1000, 
        allow_playback: true,
        choices: ['Finish.'],
        on_load: function() {
            startTimer(1);
            
            document.addEventListener('click', function(e) {
                if (e.target.id == 'record-again') {
                    startTimer(1);
                }
            });
        },
        on_finish: function(data) {
            if (essayTimerInterval) {
                clearInterval(essayTimerInterval);
            }

            fetch('/save_audio_aita/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    audio_base64: data.response,
                    aita_id: 1 // PLACEHOLDER
                })
            })
        }
    };

    var endscreen = {
        type: jsPsychInstructions,
        pages: [
        'You have reached the end of the annotations, thank you for participating! We appreciate the time you put into our project, and we wish you all the best in your future endevours.'
        ],
        show_clickable_nav: false
    }

    var timeline = [];

    timeline.push(init_mic);
    timeline.push(mic_test);
    timeline.push(mic_test_trial);
    timeline.push(instruction_essay);
    timeline.push(trial_essay);
    timeline.push(instruction_aita);
    timeline.push(trial_aita);
    timeline.push(endscreen);

    jsPsych.run(timeline);
</script>
</html>