<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Audio Annotation Main Page{% endblock %}</title>

    <script src="https://unpkg.com/jspsych@7.3.4"></script>
    <link href="https://unpkg.com/jspsych@7.3.4/css/jspsych.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@jspsych/plugin-html-audio-response@1.0.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-initialize-microphone@1.0.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-html-button-response@1.2.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-instructions@2.1.0"></script>
    <script src="https://unpkg.com/@jspsych/plugin-survey-multi-choice@1.1.3"></script>
    <script src="../static/utils.js"></script>
    <script src="../static/essay_annotation.js"></script>

</head>

<body>
    <div id="background-white">
        <div id="header">
            {% block header %}
            <h1 id='title'>
                [PROJECT NAME]
            </h1>
            <h2 id='subtitle'>
                [SUBTITLE AND/OR SHORT DESCRIPTION]
            </h2>
            {% endblock %}
        </div>
        <div id="content">
            <div id="jspsych-target"></div> 
        </div>
    </div>

</body>
<script>
    async function beginTrials() {
        const essayJson = await loadEssayJson();
        const aitaJson = await loadAitaJson();

        const timeline = createTimeline(essayJson, aitaJson);

        return timeline;
    }

    (async () => {
        const jsPsych = initJsPsych({
            display_element: "jspsych-target"
        });

        const timeline = await beginTrials();

        jsPsych.run(timeline);
    })();
</script>
</html>