<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Homepage{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
        <h1 id='title'>
            [PROJECT NAME]
        </h1>
        <h2 id='subtitle'>
            [SUBTITLE AND/OR SHORT DESCRIPTION]
        </h2>
        {% endblock %}
    </div>
    
    <div id="content">
        {% block content %}
        <h3>
            Background
        </h3>

        <h3>
            Instructions
        </h3>
        <p>
            eg. make sure you give permission for the website to access your microphone, your microphone is clear
        </p>

        <h3>
            Task
        </h3>
        <p>
            Your task is to blah blah blah
        </p>

        <h3>
            Consent
        </h3>
        <form method="POST" action="{% url 'homepage' %}">
            {% csrf_token %}
            <input type="checkbox" id="consent" name="consent" required>
            <label for="consent">I consent to blah blah blah</label>
            <div class="center">
                <button type="submit" id="submitBtn" disabled>Begin Task</button>
            </div>
         </form>
        {% endblock %}
    </div>

    <script>
        document.getElementById('consent').addEventListener('change', function() {
            document.getElementById('submitBtn').disabled = !this.checked;
        });
    </script>
</body>

</html>