<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Homepage{% endblock %}</title>
</head>

<body>
    <div id="background-white">
        <div id="header">
            {% block header %}
            <h1 id='title'>
                Audio Annotation
            </h1>
            {% endblock %}
        </div>
        
        <div id="content">
            <h3>
                Background
            </h3>
            <p class="homepage-text">
                The [PROJECT NAME] was created for the purpose of [REASONS]
            </p>
            <h3>
                Setup Instructions
            </h3>
            <p class="homepage-text">
                Please ensure the device you are using has a functioning microphone and you are situated in a quiet environment. On the next page you will be asked to give permission for this website to access your microphone. Please ensure you select "Allow while visiting site" or "Allow this time" or any equivalent options.
            </p>
            <h3>
                Task
            </h3>
            <p class="homepage-text">
                Your task is to record two audio responses for two questions: an essay question and a Reddit post from the forum r/AmITheAsshole. The task is designed to take 15 minutes including preparation and response time. Additional details will be provided.
            </p>
            <form method="POST" action="{% url 'homepage' %}">
                {% csrf_token %}
                <p class="homepage-text"> Please enter your crowdwork id below to begin your task: </p> 
                <div class='center'>
                    <input type="text" id="id" name="id" maxlength="200" required>
                </div>
                <div class='center'>
                    <button type="submit" id="submitbutton" class="submitbutton" disabled>Begin Task</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function checkIsEmpty() {
            var chatinput = document.getElementById('id').value;
            if(chatinput) {
                document.getElementById('submitbutton').disabled = false;
            } else {
                document.getElementById('submitbutton').disabled = true;
            }
        }
        window.addEventListener('load', () => {
            checkIsEmpty();
        });

        document.getElementById('id').addEventListener('input', function() {
            checkIsEmpty();
        });
    </script>
</body>

</html>