@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

#title {
  font-size: 48px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
}

#subtitle {
  font-size: 28px;
  margin-top: 0px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.submitbutton {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.submitbutton:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}